body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h4 {
  margin-bottom: 5px;
}

ul {
  padding-left: 0;
}

button {
  max-width: 140px;
  min-width: 80px;
  height: 20px;
  border-radius: 10px;
  margin: 0 5px 5px;
  cursor: pointer;
}
input {
  margin: 0 5px;
}

.App table {
  width: 700px;
  margin: auto;
}